.link {
  font-size: 30px;
  color: blue;
}
.link:hover {
  color: purple;
}
.header {
  color: black;
  font-size: 32px;
}
th, td {
  padding-left: 15px;
  padding-right: 15px;
}
.message {
  margin-bottom: 10px;
}
.database {
  margin: 10px;
}
.disclaimer {
  margin-top: 10px;
  color: red;
}
